{% extends 'user/sidebar.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block page %}
<div class="col-lg-offset-2 col-lg-8">
  <div class="panel">
    <div class="panel-heading bg-blue">
      <h4 class="panel-title text-center text-white">
        Add new record
      </h4>
    </div>
    <div class="panel-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form record_form %}
        <button type="submit" class="btn btn-pink pull-right">Create</button>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'js/json_hook.js' %}"></script>
{{ category_names|json_script:"category_data" }}
{% endblock %}
