{% extends 'user/sidebar.html' %}

{% block page %}
  <div class="panel">
    <div class="panel-heading bg-blue">
      <h4 class="panel-title text-center text-white">Categories</h4>
    </div>
    <div class="panel-body">
      <br/>

      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="bg-gray text-white">
            <th>Name</th>
            <th>Columns</th>
            <th>Description</th>
            <th>Image</th>
            <th>File</th>
          </tr>
        </thead>
        <tbody>
          {% for cat_ex in info %}
            <tr>
              <td scope="row"><a href="{% url 'edit-category' cat_ex.category.id %}">{{ cat_ex.category.name }}</a></td>
              <td>{{ cat_ex.category.columns }}  </td>
              <td>{{ cat_ex.description }}</td>
              <td align="middle"><img class="img-circle" src="{{ cat_ex.image.url }}"
                width="50" height="50"></td>
              <td>{{ cat_ex.file }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
