{% extends 'user/sidebar.html' %}

{% block page %}
  <div class="panel">
    <div class="panel-heading bg-blue">
      <h4 class="panel-title text-center text-white">Category Information</h4>
    </div>
    <div class="panel-body">
      <br/>

      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="bg-gray text-white">
            <th>Description</th>
            <th>Image</th>
            <th>File</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">{{ info.description }}</td>
            <td><img class="img-circle" src="{{ MEDIA_URL }}{{ info.image }}"
              width="100" height="100"></td>
            <td>{{ info.file }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
