{% extends 'user/sidebar.html' %}
{% load mytags %}

{% block page %}
  <div class="panel">
    <div class="panel-heading bg-blue">
      <h4 class="panel-title text-center text-white">{{ category_name }}</h4>
    </div>
    <div class="panel-body">
      <br/>

      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr class="bg-gray text-white">
            {% for record in records %}
              {% for key, value in record.data.items %}
                <th>{{key}}</th>
              {% endfor %}
            {% endfor %}
            <th>File</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for record in records %}
              {% for key, value in record.data.items %}
                <td scope="row">{{ value }}</td>
              {% endfor %}
              <td><a href="{{ MEDIA_URL }}{{ record.file }}">{{ record.file }}</a></td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
