{% extends 'base.html' %}

{% block title %} Record Keeper {% endblock %}

{% block script %}
{% endblock %}

{% block sidebar %}
  {% url 'user-overview' as user_overview_url %}
  {% url 'user-settings' as user_settings_url %}
  {% url 'user-categories' as user_categories_url %}
  {% url 'user-records' as user_records_url %}

  <nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img id="profile-image" class="img-circle" src="{{ request.user.profile.avatar.url }}" width="100" height="100">
        <a class="navbar-brand" href="#">{{ request.user.get_full_name }}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{% if request.path == user_overview_url %} active {% endif %}"><a href="{{ user_overview_url }}">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-home"></span></a></li>
          <li class="{% if request.path == user_settings_url %} active {% endif %}"><a href="{{ user_settings_url }}">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-user"></span></a></li>
          <li class="{% if request.path == user_categories_url %} active {% endif %}"><a href="{{ user_categories_url }}">Categories<span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-tags"></span></a></li>
          <li class="{% if request.path == user_records_url %} active {% endif %}"><a href="{{ user_records_url }}">Records<span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-table"></span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preferences <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity fas fa-cog"></span></a>
            <ul class="dropdown-menu forAnimate" role="menu">
              <li><a href="#">Themes</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">Something else here</a></li>
              <!-- <li class="divider"></li> -->
              <li><a href="{% url 'user-sign-out' %}?next={{ request.path }}" class="btn btn-pink">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
