body,html{
  height: 100%;
  background-color: #EDF2F5;
}

.bg-blue {
  background-color: #3F3F63;
}

.bg-gray {
  background-color: #88A1B2;
}

.text-white {
  color: white;
}

.btn-pink {
  background-color: #EE5462;
}

.btn-pink:hover,
.btn-pink:focus {
  background-color: #DA4F5D !important;
}

/* remove outer padding */
.main .row{
  padding: 0px;
  margin: 0px;
}

/*Remove rounded coners*/
nav.sidebar.navbar {
  border-radius: 0px;
}

/* Profile Image Nav (when on top) */
img#profile-image.img-circle {
  top: 10px;
  padding: 10px;
  position: relative;
  display: none;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
  padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

  /* Allow main to be next to Nav */
  .main{
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size */
    margin-left: 40px;
    float: right;
  }

  /* lets nav bar to be showed on mouseover */
  nav.sidebar:hover + .main{
    margin-left: 200px;
  }

  /* Center Brand */
  nav.sidebar.navbar.sidebar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  /* Center Brand */
  nav.sidebar .navbar-brand,
  nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  /* Profile Image */
  img#profile-image.img-circle {
    top: 10px;
    padding: 10px;
    position: relative;
    display: inline;
  }

  /* Center Icons*/
  nav.sidebar a{
    padding-right: 13px;
  }

  /* adds border top to first nav box */
  nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px darkgray solid;
  }

  /*adds border to bottom nav boxes*/
  nav.sidebar .navbar-nav > li{
    border-bottom: 1px darkgray solid;
  }

  /* Colors/style dropdown box*/
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse,
  nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  /* background color */
  .navbar-inverse {
    background-color: #383957;
    border-color: #383957;
  }

  /* colors dropdown btn text */
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a.btn-pink {
    color: #fff;
  }

  /* colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: darkgrey;
  }

  /* gives sidebar width/height */
  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }

  /* give sidebar btn custom width */
  nav.sidebar li>a.btn-pink {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  /* give sidebar 100% width; */
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over */
  nav.sidebar:hover{
    margin-left: 0px;
  }

  /*for hiden things when navbar hidden*/
  .forAnimate{
    opacity: 0;
  }

  /* CONTENT */
  .content {
    padding: 0 120px;
    padding-top: 40px
  }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

  /*Allow main to be next to Nav*/
  .main{
    width: calc(100% - 200px); /*keeps 100% minus nav size*/
    margin-left: 200px;
  }

  /*Show all nav*/
  nav.sidebar{
    margin-left: 0px;
    float: left;
  }
  /*Show hidden items on nav*/
  nav.sidebar .forAnimate{
    opacity: 1;
  }

  /* Profile Image */
  img#profile-image.img-circle {
    top: 10px;
    padding: 10px;
    position: relative;
    display: inline;
  }

  /* CONTENT */
  .content {
    padding: 0 120px;
    padding-top: 40px
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover,
nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #fff;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}

/* CONTENT */
.content {
  padding: 0 0px;
  padding-top: 40px
}

.content .panel {
  border: none;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
}

.table,
.table > thead > tr > th {
  border-color: #88A1B2;
}

h1 { margin:50px auto;}
.zoom {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
}

/* Floating Action Button */
.zoom-fab {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #EE5462;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  background-color: #DA4F5D;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.zoom-btn-edit { background-color: #F44336; }

.zoom-btn-edit:hover { background-color: #e57373; }

.zoom-btn-doc { background-color: #ffeb3b; }

.zoom-btn-doc:hover { background-color: #fff176; }

.zoom-btn-tangram { background-color: #4CAF50; }

.zoom-btn-tangram:hover { background-color: #81c784; }

.zoom-btn-add { background-color: #2196F3; }

.zoom-btn-add:hover { background-color: #64b5f6; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }

.zoom-btn-pink { background-color: btn-pink; }

.zoom-btn-pink:hover { background-color: #EE5462; }

.zoom-menu {
  position: absolute;
  right: -10px;
  /* left: auto; */
  /* top: 100%; */
  transform: translateY(-150%);
  /* height: 100%; */
  /* width: 500px; */
  list-style: none;
  text-align: right;
}

.zoom-menu li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
}

/* Floating cards for FAB. Currently unused */
.zoom-card {
  position: absolute;
  right: 150px;
  bottom: 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}

.scale-transition {
  transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
}

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in {
  transform: scale(1);
}

/* Custom tooltips for various controls.
   To use just add a 'tooltip' class to the element
   Example:
     tooltip="This is my tooltip" tooltip-position="left"
*/
[tooltip]{
  margin: 0px 0px;
  position:relative;
  display:inline-block;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before{
  left:50%;
}

[tooltip-position='buttom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
  min-width: 200px;
}

[tooltip-position='top']::after{
  left:50%;
}

[tooltip-position='bottom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
   opacity:1
}
